<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
</head>
<body>
<!DOCTYPE html>
<html>
    <body>
        <h1>Insert New Book</h1>
        <form>
            <label>Book Name</label><br>
            <input type="text" name="bookName"><br>
            <label>Author Name</label><br>
            <input type="text" name="authorName"><br>
            <label>Genre Name</label><br>
            <input type="text" name="genreName"><br><br>
            <button>Submit</button>
        </form>
    </body>
    <script type="text/javascript" th:src="@{/WebApp/Scripts/Service.js}" /></script>
    <script type="text/javascript" th:src="@{/WebApp/Config/URI.js}" /></script>
    <script type="text/javascript" th:src="@{/WebApp/Scripts/InitWebApp.js}" /></script>
</html>